.tabs {
    margin: 2rem auto;
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;

    .tabItem {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 2rem;
        opacity: .3;

        .process {
            margin-right: 12px;
            border-radius: 9999px;
            height: 42px;
            width: 42px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: black;
            color: white;
            font-weight: 600;
        }

        .title {
            font-weight: 600;
        }
    }

    .tabItemActive {
        opacity: 1;
        border-bottom: 2px solid black;
    }
}